{{ 'section-second-aboutuspage.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<div class="aboutus-second-section">
    <div class=aboutus-header2-container>
        <div class="aboutus-subheader-container3">
            <h4>Our</h4>
            <h5>SOLUTION:</h5>
            <img class="aboutus-image3" src="{{ 'aboutus-tick.svg' | asset_url }}" />
            
        </div>

        <div class="aboutus-subheader-container4">
            <h4>Bio-Degradable Inner Lining</h4>
        </div>
    </div>

    <div class="aboutus-second-section-description">
        <img class="aboutus-image4" src="{{ 'aboutus-howdoesitworkcircle.svg' | asset_url }}" />
        <p>‘Huh, is it hygienic to be sharing resources?’ Yes of course! Hear what our dedicated hygiene master 
        have to say. ‘When a customer returns the luggage after his trip, I will first tear away the inner lining 
        of the luggage. Next, I will do a thorough cleaning of the luggage and air it well, before preparing 
        for the next rental.’</p>
    </div>
</div>

{% schema %}
  {
    "name": "AboutUs Second Section",
    "settings": [],
    "presets": [
        {
            "name": "AboutUs Second Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}