{{ 'section-third-aboutuspage.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<div>
    <h5>REPAIR</h5>

    <div>
    <h4>Of Luggage</h4>
    <img class="howitworks-image5" src="{{ 'howitworks-deadluggage.svg' | asset_url }}" />
    </div>
</div>

<div>
</div>

{% schema %}
  {
    "name": "AboutUs Third Section",
    "settings": [],
    "presets": [
        {
            "name": "AboutUs Third Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}