{{ 'section-first-add-ons.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<link href="https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo" rel="stylesheet">

<div class="add-ons-first-section">

  <div class = "add-ons-header1-container1">
    <img class= "add-ons-left-sparkle-image" src="{{ 'add-ons-left-sparkle.svg' | asset_url }}" />
    <h1>Get</h1>
  </div>

  <h2>EVERYTHING</h2>

  <div class = "add-ons-header1-container2">
    <h1>You Need!</h1>
    <img class= "add-ons-right-sparkle-image" src="{{ 'add-ons-right-sparkle.svg' | asset_url }}" />
  </div>

</div>

{% schema %}
  {
    "name": "Add Ons First Section",
    "settings": [],
    "presets": [
        {
            "name": "Add Ons First Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}