{{ 'section-first-cartpage.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<div class="cartpage-header1-container1">
    <h1>Your Luggage is</h1>
    <img class= "cartpage-arrow-image" src="{{ 'cartpage-arrow.svg' | asset_url }}" />
</div>

<div class="cartpage-header1-container2">
    <img class= "cartpage-luggage-image" src="{{ 'cartpage-luggage.svg' | asset_url }}" />
    <h2>WAITING FOR YOU!</h2>
</div>

{% schema %}
  {
    "name": "CartPage First Section",
    "settings": [],
    "presets": [
        {
            "name": "CartPage First Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}