{{ 'section-first-howitworks.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<div class="howitworks-first-section">

    <div class="howitworks-header1-container1">
        <img />
        <h1>HOW:</h1>
        <h2>DOES IT WORK?</h2>
        <h3>Step-by-Step guide on how you can start saving the Earth!</h3>
    </div>

    <div class="howitworks-header1-container2">
        
    </div>

</div>


{% schema %}
  {
    "name": "HowItWorks First Section",
    "settings": [],
    "presets": [
        {
            "name": "HowItWorks First Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}