{{ 'section-third-rentnow.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<link href="https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo" rel="stylesheet">

<div class="rentnow-third-section">
  <div>
    <h1>Selected Dates:</h1>
    <p>17/09/23 - 25/09/23</p>
    <p>(9days)</p>
  <div>

  <div>
    <h1>Rental Cost:</h1>
    <p>$1/day  x  9 days =</p>
    <p>$9</p>
  <div>

  <div>
    <h1>Collection Method</h1>
    <div>
      <div>
        <img class= "rentnow-selfcollection-image" src="{{ 'rentnow-selfcollection.svg' | asset_url }}" />
      </div>

      <div>
        <img class= "rentnow-question-mark-image" src="{{ 'rentnow-question-mark.svg' | asset_url }}" />
      </div>
    </div>
  <div>

</div>

{% schema %}
  {
    "name": "RentNow Third Section",
    "settings": [],
    "presets": [
        {
            "name": "RentNow Third Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}