{{ 'section-second-rentnow.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<link href="https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo" rel="stylesheet">

<div class="rentnow-second-section">
  <h1>How long will you be travelling for?</h1>

  <div class="rentnow-header2-container1">
    <div class="rentnow-calendar-group">
      <div class="rentnow-first-calendar">
        <div class="rentnow-first-months">
          <p>September 2023</p>
        </div>
        <div class="rentnow-first-weekdays">
          <p>Su</p>
          <p>Mo</p>
          <p>Tu</p>
          <p>We</p>
          <p>Th</p>
          <p>Fr</p>
          <p>Sa</p>          
        </div>
        <div class="rentnow-first-days">
          <div class="rentnow-prevdays">27</div>
          <div class="rentnow-prevdays">28</div>
          <div class="rentnow-prevdays">29</div>
          <div class="rentnow-prevdays">30</div>
          <div class="rentnow-prevdays">31</div>

          <div>1</p>
          <div>2</p>
          <div>3</p>
          <div>4</p>
          <div>5</p>
          <div>6</p>
          <div>7</p>
          <div>8</p>
          <div>9</p>
          <div>10</p>
          <div>11</p>
          <div>12</p>
          <div>13</p>
          <div>14</p>
          <div>15</p>
          <div>16</p>
          <div class="rentnow-start-date">17</p>
          <div>18</p>
          <div>19</p>
          <div>20</p>
          <div>21</p>
          <div>22</p>
          <div>23</p>
          <div>24</p>
          <div class="rentnow-end-date">25</p>
          <div>26</p>
          <div>27</p>
          <div>28</p>
          <div>29</p>
          <div>30</p>div
          <div class="rentnow-nextdays">1</p>
          <div class="rentnow-nextdays">2</p>
          <div class="rentnow-nextdays">3</p>
          <div class="rentnow-nextdays">4</p>
          <div class="rentnow-nextdays">5</p>
          <div class="rentnow-nextdays">6</p>
          <div class="rentnow-nextdays">7</p>
        </ddivv>
      </divdiv
      <div divlass="rentnow-second-calendar">
        <didiv class="rentnow-second-months">
          <div>October 2023</p>
        </ddivv>
        <didiv class="rentnow-second-weekdays">
          <div>Su</p>
          <div>Mo</p>
          <div>Tu</p>
          <div>We</p>
          <div>Th</p>
          <div>Fr</p>
          <div>Sa</p>
        </ddivv>
        <didiv class="rentnow-second-days">
          <div class="rentnow-prevdays">27</div>
          <div class="rentnow-prevdays">28</div>
          <div class="rentnow-prevdays">29</div>
          <div class="rentnow-prevdays">30</div>
          <div class="rentnow-prevdays">31</div>

          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
          <div>5</div>
          <div>6</div>
          <div>7</div>
          <div>8</div>
          <div>9</div>
          <div>10</div>
          <div>11</div>
          <div>12</div>
          <div>13</div>
          <div>14</div>
          <div>15</div>
          <div>16</div>
          <div>17</div>
          <div>18</div>
          <div>19</div>
          <div>20</div>
          <div>21</div>
          <div>22</div>
          <div>23</div>
          <div>24</div>
          <div>25</div>
          <div>26</div>
          <div>27</div>
          <div>28</div>
          <div>29</div>
          <div>30</div>

          <div class="rentnow-nextdays">1</div>
          <div class="rentnow-nextdays">2</div>
          <div class="rentnow-nextdays">3</div>
          <div class="rentnow-nextdays">4</div>
          <div class="rentnow-nextdays">5</div>
          <div class="rentnow-nextdays">6</div>
          <div class="rentnow-nextdays">7</div>
        </div>
      </div>
    </div>

    <div class="rentnow-calendar-legend">
      <div class="rentnow-subheader-container5">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
          <circle cx="12.375" cy="12.4671" r="11.5127" fill="#8A947F" fill-opacity="0.5"/>
        </svg>
        <h2>Collection/Return Dates Respectively (Free) </h2>
      </div>
      <div class="rentnow-subheader-container5">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
          <circle cx="12.375" cy="12.4671" r="11.5127" fill="#FFA665" fill-opacity="0.5"/>
        </svg>
        <h2>Selected Dates</h2>
      </div>
    </div>
  </div>

  <div class="rentnow-header2-container2">
    <p>Feel Free to move</p>        
    <img class= "rentnow-start-circle-image" src="{{ 'rentnow-start-circle.svg' | asset_url }}" />
    <img class= "rentnow-end-circle-image" src="{{ 'rentnow-end-circle.svg' | asset_url }}" />          
    <p>to select your travel dates.</p>
  </div>

</div>

{% schema %}
  {
    "name": "RentNow Second Section",
    "settings": [],
    "presets": [
        {
            "name": "RentNow Second Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}