{{ 'section-first-aboutuspage.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<div class="rentnow-header1-container1">
    <h1>Start Your</h1>
    <h2>RENT JOURNEY</h2>
    <h1>Here
</div>

{% schema %}
  {
    "name": "RentNow First Section",
    "settings": [],
    "presets": [
        {
            "name": "RentNow First Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}