{{ 'section-second-rentnow.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<link href="https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo" rel="stylesheet">

<div class="rentnow-second-section">
  <h1>How long will you be travelling for?</h1>
  <h3>Click on the Month/Year to change its value.</h3>

  <div class="rentnow-header2-container1">
    <div class="rentnow-calendar-group">
      <div class="rentnow-first-calendar">
        <div class="rentnow-first-months">
          <label for="rentnow-first-month-dropdownmenu" class="rentnow-first-month-select" id="rentNowFirstMonthLabel"></label> 
          <select id="rentnow-first-month-dropdownmenu"> 
              <option value="January">January</option> 
              <option value="February">February</option> 
              <option value="March">March</option> 
              <option value="April">April</option>
              <option value="May">May</option> 
              <option value="June">June</option> 
              <option value="July">July</option> 
              <option value="August">August</option> 
              <option value="September">September</option> 
              <option value="October">October</option> 
              <option value="November">November</option>
              <option value="December">December</option> 
          </select>
          <label for="rentnow-first-year-dropdownmenu" class="rentnow-first-year-select" id="rentNowFirstYearLabel"></label> 
          <select id="rentnow-first-year-dropdownmenu"> 
              <option value="2023">2023</option> 
              <option value="2024">2024</option> 
              <option value="2025">2025</option> 
              <option value="2026">2026</option> 
              <option value="2027">2027</option>
              <option value="2028">2028</option> 
              <option value="2029">2030</option>
              <option value="2029">2031</option> 
              <option value="2029">2032</option> 
              <option value="2029">2033</option>  
          </select>
        </div>
        <div class="rentnow-first-weekdays">
          <p>Su</p>
          <p>Mo</p>
          <p>Tu</p>
          <p>We</p>
          <p>Th</p>
          <p>Fr</p>
          <p>Sa</p>          
        </div>
        <div class="rentnow-first-days"></div>
      </div>

      <div class="rentnow-second-calendar">
        <div class="rentnow-second-months">
          <label for="rentnow-second-month-dropdownmenu" class="rentnow-second-month-select" id="rentNowSecondMonthLabel"></label> 
          <select id="rentnow-second-month-dropdownmenu"> 
              <option value="January">January</option> 
              <option value="February">February</option> 
              <option value="March">March</option> 
              <option value="April">April</option>
              <option value="May">May</option> 
              <option value="June">June</option> 
              <option value="July">July</option> 
              <option value="August">August</option> 
              <option value="September">September</option> 
              <option value="October">October</option> 
              <option value="November">November</option>
              <option value="December">December</option> 
          </select>
          <label for="rentnow-second-year-dropdownmenu" class="rentnow-second-year-select" id="rentNowSecondYearLabel"></label> 
          <select id="rentnow-second-year-dropdownmenu"> 
              <option value="2023">2023</option> 
              <option value="2024">2024</option> 
              <option value="2025">2025</option> 
              <option value="2026">2026</option> 
              <option value="2027">2027</option>
              <option value="2028">2028</option> 
              <option value="2029">2030</option>
              <option value="2029">2031</option> 
              <option value="2029">2032</option> 
              <option value="2029">2033</option>  
          </select>
        </div>
        <div class="rentnow-second-weekdays">
          <p>Su</p>
          <p>Mo</p>
          <p>Tu</p>
          <p>We</p>
          <p>Th</p>
          <p>Fr</p>
          <p>Sa</p>
        </div>
        <div class="rentnow-second-days"></div>
      </div>
    </div>

    <div class="rentnow-calendar-legend">
      <div class="rentnow-subheader-container5">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
          <circle cx="12.375" cy="12.4671" r="11.5127" fill="#8A947F" fill-opacity="0.5"/>
        </svg>
        <h2>Collection/Return Dates Respectively (Free) </h2>
      </div>
      <div class="rentnow-subheader-container5">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
          <circle cx="12.375" cy="12.4671" r="11.5127" fill="#FFA665" fill-opacity="0.5"/>
        </svg>
        <h2>Selected Dates</h2>
      </div>
    </div>

    <h4 id="rentNowMonthError">Ahhh, that is not possible,  please choose a later month! Thank you!</h4>
    <h4 id="rentNowYearError">Ahhh, that is not possible,  please choose a later year! Thank you!</h4>
    <h4 id="rentNowDateError">Ahhh, that is not possible,  please choose a later date! Thank you!</h4>
  </div>

</div>

{% schema %}
  {
    "name": "RentNow Second Section",
    "settings": [],
    "presets": [
        {
            "name": "RentNow Second Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<script src="rentNowSecondSection.js"></script>
