{{ 'section-first-rentnow.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<div class="rentnow-header1-container1">
    <h1>Start Your</h1>
    <div class="rentnow-subheader-container1">
        <img class= "rentnow-lines-image" src="{{ 'rentnow-lines.svg' | asset_url }}" />
        <img class= "rentnow-arrow-image" src="{{ 'rentnow-arrow.svg' | asset_url }}" />
        <h2>RENT JOURNEY</h2>
    <div>
    <div class="rentnow-subheader-container2">
        <h3>CONFUSED ON HOW THIS WORKS?</h3>
        <img class= "rentnow-question-mark-image" src="{{ 'rentnow-question-mark.svg' | asset_url }}" />
        <h4>Click ME</h4>
        <h1>Here!</h1>
    <div>
</div>

{% schema %}
  {
    "name": "RentNow First Section",
    "settings": [],
    "presets": [
        {
            "name": "RentNow First Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}