{{ 'section-second-rentnow.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

<div class="rentnow-second-section">
  <h1>How long will you be travelling for?</h1>

  <div class="rentnow-header2-container1">
    <div class="rentnow-calendar-group">
      <div class="rentnow-first-calendar">
        <div class="rentnow-first-months">
          <p>September 2023</p>
        </div>
        <div class="rentnow-first-weekdays">
          <p>Mo</p>
          <p>Tu</p>
          <p>We</p>
          <p>Th</p>
          <p>Fr</p>
          <p>Sa</p>          
          <p>Su</p>
        </div>
        <div class="rentnow-first-days">
        </div>
      </div>

      <div class="rentnow-second-calendar">
        <div class="rentnow-second-months">
        </div>
        <div class="rentnow-second-weekdays">
        </div>
        <div class="rentnow-second-days">
        </div>
      </div>
    </div>

    <div class="rentnow-calendar-legend">
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "RentNow Second Section",
    "settings": [],
    "presets": [
        {
            "name": "RentNow Second Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}