{{ 'section-second-rentnow.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Syncopate:wght@700&display=swap" rel="stylesheet">

{% comment %} <link href="https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo" rel="stylesheet"> {% endcomment %}

<div class="rentnow-second-section">
  <h1>How long will you be travelling for?</h1>

  <div class="rentnow-header2-container1">
    <div class="rentnow-calendar-group">
      <div class="rentnow-first-calendar">
        <div class="rentnow-first-months">
          <label for="rentnow-first-month-dropdownmenu" class="rentnow-first-month-select" id="rentNowFirstMonthLabel"></label> 
          <select id="rentnow-first-month-dropdownmenu"> 
              <option value="January">January</option> 
              <option value="February">February</option> 
              <option value="March">March</option> 
              <option value="April">April</option>
              <option value="May">May</option> 
              <option value="June">June</option> 
              <option value="July">July</option> 
              <option value="August">August</option> 
              <option value="September">September</option> 
              <option value="October">October</option> 
              <option value="November">November</option>
              <option value="December">December</option> 
          </select>
          <label for="rentnow-first-year-dropdownmenu" class="rentnow-first-year-select" id="rentNowFirstYearLabel"></label> 
          <select id="rentnow-first-year-dropdownmenu"> 
              <option value="2023">2023</option> 
              <option value="2024">2024</option> 
              <option value="2025">2025</option> 
              <option value="2026">2026</option> 
              <option value="2027">2027</option>
              <option value="2028">2028</option> 
              <option value="2029">2030</option>
              <option value="2029">2031</option> 
              <option value="2029">2032</option> 
              <option value="2029">2033</option>  
          </select>
        </div>
        <div class="rentnow-first-weekdays">
          <p>Su</p>
          <p>Mo</p>
          <p>Tu</p>
          <p>We</p>
          <p>Th</p>
          <p>Fr</p>
          <p>Sa</p>          
        </div>
        <div class="rentnow-first-days"></div>
      </div>

      <div class="rentnow-second-calendar">
        <div class="rentnow-second-months">
          <label for="rentnow-second-month-dropdownmenu" class="rentnow-second-month-select" id="rentNowSecondMonthLabel"></label> 
          <select id="rentnow-second-month-dropdownmenu"> 
              <option value="January">January</option> 
              <option value="February">February</option> 
              <option value="March">March</option> 
              <option value="April">April</option>
              <option value="May">May</option> 
              <option value="June">June</option> 
              <option value="July">July</option> 
              <option value="August">August</option> 
              <option value="September">September</option> 
              <option value="October">October</option> 
              <option value="November">November</option>
              <option value="December">December</option> 
          </select>
          <label for="rentnow-second-year-dropdownmenu" class="rentnow-second-year-select" id="rentNowSecondYearLabel"></label> 
          <select id="rentnow-second-year-dropdownmenu"> 
              <option value="2023">2023</option> 
              <option value="2024">2024</option> 
              <option value="2025">2025</option> 
              <option value="2026">2026</option> 
              <option value="2027">2027</option>
              <option value="2028">2028</option> 
              <option value="2029">2030</option>
              <option value="2029">2031</option> 
              <option value="2029">2032</option> 
              <option value="2029">2033</option>  
          </select>
        </div>
        <div class="rentnow-second-weekdays">
          <p>Su</p>
          <p>Mo</p>
          <p>Tu</p>
          <p>We</p>
          <p>Th</p>
          <p>Fr</p>
          <p>Sa</p>
        </div>
        <div class="rentnow-second-days"></div>
      </div>
    </div>

    <div class="rentnow-calendar-legend">
      <div class="rentnow-subheader-container5">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
          <circle cx="12.375" cy="12.4671" r="11.5127" fill="#8A947F" fill-opacity="0.5"/>
        </svg>
        <h2>Collection/Return Dates Respectively (Free) </h2>
      </div>
      <div class="rentnow-subheader-container5">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
          <circle cx="12.375" cy="12.4671" r="11.5127" fill="#FFA665" fill-opacity="0.5"/>
        </svg>
        <h2>Selected Dates</h2>
      </div>
    </div>
  </div>

  <div class="rentnow-header2-container2">
    <p>Feel Free to move</p>        
    <img class= "rentnow-start-circle-image" src="{{ 'rentnow-start-circle.svg' | asset_url }}" />
    <img class= "rentnow-end-circle-image" src="{{ 'rentnow-end-circle.svg' | asset_url }}" />          
    <p>to select your travel dates.</p>
  </div>

</div>

{% schema %}
  {
    "name": "RentNow Second Section",
    "settings": [],
    "presets": [
        {
            "name": "RentNow Second Section"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

//Inserting Current Month/Year

const date = new Date();

const months = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];

// First Calendar

// Setting Default Month/Year
document.querySelector('.rentnow-first-month-select').innerHTML = months[date.getMonth()];

const secondMonth = new Date();
secondMonth.setMonth(secondMonth.getMonth() + 1);
document.querySelector(".rentnow-second-month-select").innerHTML = months[secondMonth.getMonth()];

const rentNowSecondYearLabel = document.getElementById('rentNowSecondYearLabel');
document.querySelector('.rentnow-second-year-select').innerHTML = "&nbsp;" + secondMonth.getFullYear();

// DropDown Menu for First Month and Year
const rentNowFirstMonthLabel = document.getElementById('rentNowFirstMonthLabel');
const dropdownMonth = document.getElementById("rentnow-first-month-dropdownmenu");

const rentNowFirstYearLabel = document.getElementById('rentNowFirstYearLabel');
document.querySelector('.rentnow-first-year-select').innerHTML = "&nbsp;" + date.getFullYear();

const dropdownYear = document.getElementById('rentnow-first-year-dropdownmenu');

// Event listener for label click
rentNowFirstMonthLabel.addEventListener('click', function() {
  dropdownMonth.style.display = 'block'; 
  dropdownMonth.size= "7";
  dropdownMonth.click();
  event.stopPropagation();
});

// Event listener for dropdown change
dropdownMonth.addEventListener('change', function() {
  const selectedMonth = dropdownMonth.value;
  rentNowFirstMonthLabel.textContent = selectedMonth;
  dropdownMonth.style.display = 'none';

  const selectedMonthIndex = months.indexOf(selectedMonth);
  date.setMonth(selectedMonthIndex);

  const selectedYear = dropdownYear.value;

  secondMonth.setMonth(selectedMonthIndex + 1);
  secondMonth.setFullYear(selectedYear);

  // Check if the month of the second calendar is January
  if (secondMonth.getMonth() === 0) {
    secondMonth.setFullYear(secondMonth.getFullYear() + 1);
  }

  rentNowSecondMonthLabel.textContent = months[secondMonth.getMonth()];
  document.querySelector('.rentnow-second-year-select').innerHTML = "&nbsp;" + secondMonth.getFullYear();
  
  updateCalendar();
});


// Function to update the calendar
function updateCalendar() {
  const firstMonthDays = document.querySelector(".rentnow-first-days");
  let days = "";

  const secondMonthDays = document.querySelector(".rentnow-second-days");
  let secondDays = "";

  //First Calendar

  // Dates before Month
  const firstDay = new Date(date.getFullYear(), date.getMonth(), 1).getDay();
  const lastDayPrevMonth = new Date(date.getFullYear(), date.getMonth(), 0).getDate();

  for (let x = firstDay - 1; x >= 0; x--) {
    days += `<p class="rentnow-prevdays">${lastDayPrevMonth - x}</p>`;
  }

  // Dates correspond to Month and Year
  const lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();

  for (let i = 1; i <= lastDay; i++) {
    days += `<p>${i}</p>`;
  }

  // Dates after Month
  const lastDayIndex = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDay();
  const nextDays = 6 - lastDayIndex;

  for (let j = 1; j <= nextDays; j++) {
    days += `<p class="rentnow-nextdays">${j}</p>`;
  }

  firstMonthDays.innerHTML = days;

  //Second Calendar

  // Dates before Month
  const firstDaySecond = new Date(secondMonth.getFullYear(), secondMonth.getMonth(), 1).getDay();
  const lastDayPrevSecondMonth = new Date(secondMonth.getFullYear(), secondMonth.getMonth(), 0).getDate();

  for (let t = firstDaySecond - 1; t >= 0; t--) {
    secondDays += `<p class="rentnow-prevdays">${lastDayPrevSecondMonth - t}</p>`;
  }

  // Dates correspond to Month and Year
  const lastDaySecond = new Date(secondMonth.getFullYear(), secondMonth.getMonth() + 1, 0).getDate();

  for (let y = 1; y <= lastDaySecond; y++) {
    secondDays += `<p>${y}</p>`;
  }

  // Dates after Month
  const lastDaySecondIndex = new Date(secondMonth.getFullYear(), secondMonth.getMonth() + 1, 0).getDay();
  const nextDaysSecond = 6 - lastDaySecondIndex;

  for (let p = 1; p <= nextDaysSecond; p++) {
    secondDays += `<p class="rentnow-nextdays">${p}</p>`;
  }

  secondMonthDays.innerHTML = secondDays;
}

updateCalendar();

// Dates before Month
const firstPrevLastDay = new Date(date.getFullYear(), date.getMonth(), 0).getDate(); 
const firstFirstDayIndex = new Date(date.getFullYear(), date.getMonth(), 1).getDay();

let days = "";

for (let x = firstFirstDayIndex; x > 0; x--) {
  days += `<p class="rentnow-prevdays">${firstPrevLastDay - x +  1}</p>`; 
}

// Dates correspond to Month and Year
const firstMonthDays = document.querySelector(".rentnow-first-days");

const lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDate();

for (let i = 1; i <= lastDay; i++) {
  days += `<p id="firstMonthDays">${i}</p>`;
}

// Dates after Month
const firstLastDayIndex = new Date(date.getFullYear(), date.getMonth() + 1, 0).getDay();
const firstNextDays = 7 - firstLastDayIndex - 1;

for (let j = 1; j<= firstNextDays; j++) {
  days += `<p class="rentnow-nextdays">${j}</p>`;
  firstMonthDays.innerHTML = days;
}

// Event listener for label click
rentNowFirstYearLabel.addEventListener('click', function(event) {
  dropdownYear.style.display = 'block';
  dropdownYear.size = 7;
  dropdownYear.click();
  event.stopPropagation();
});

// Event listener for dropdown change
dropdownYear.addEventListener('change', function() {
  const selectedYear = dropdownYear.value;
  rentNowFirstYearLabel.textContent = "\u00A0" + selectedYear;
  dropdownYear.style.display = 'none';

  date.setFullYear(selectedYear);

  secondMonth.setFullYear(selectedYear);

  // Check if the month of the second calendar is January
  if (secondMonth.getMonth() === 0) {
    secondMonth.setFullYear(secondMonth.getFullYear() + 1);
  }

  rentNowSecondMonthLabel.textContent = months[secondMonth.getMonth()];
  document.querySelector('.rentnow-second-year-select').innerHTML = "&nbsp;" + secondMonth.getFullYear();
  updateCalendar();
});

// Selection of Start and End Date
let startDate = null;
let endDate = null;

// Event listener for date click
document.querySelector(".rentnow-first-days").addEventListener("click", function (event) {
  const selectedDate = event.target.textContent;

  // Check if the clicked date is a valid number
  if (event.target.closest(".rentnow-first-days") && !isNaN(selectedDate) && !event.target.classList.contains("rentnow-prevdays") && !event.target.classList.contains("rentnow-nextdays")) {
    const currentDate = new Date(date.getFullYear(), date.getMonth(), selectedDate);

    if (startDate !== null && endDate !== null) {
      startDate = null;
      endDate = null;

      document.querySelectorAll(".rentnow-first-days p").forEach((day) => {
        day.classList.remove("rentnow-start-date", "rentnow-end-date", "rentnow-selected-date", 
        "rentnow-selected-first-date", "rentnow-selected-last-date", "rentnow-selected-one-date",
        "rentnow-free-date","rentnow-free-first-date","rentnow-free-last-date");
      });
    }

    // If start date is not set, set it
    if (startDate === null) {
      startDate = currentDate;
      event.target.classList.add("rentnow-start-date");
    } else if (endDate === null && currentDate > startDate) {
      // If start date is set, and end date is not set, set end date only if it's after start date
      endDate = currentDate;
      event.target.classList.add("rentnow-end-date");

      // Selection of Dates
      const dateRange = getDatesBetween(startDate, endDate);
      const allParagraphs = document.querySelectorAll('.rentnow-first-days p');

      dateRange.forEach((date, index) => {
        let dayElement;

        allParagraphs.forEach((paragraph) => {
          // Exclude dates with "rentnow-prevdays" and "rentnow-nextdays" classes
          if (!paragraph.classList.contains("rentnow-prevdays") && !paragraph.classList.contains("rentnow-nextdays")) {
            if (parseInt(paragraph.textContent.trim()) === date.getDate()) {
              dayElement = paragraph;
            }
          }
        });

        if (dayElement) {

          if (index === 0 && dateRange.length !== 1 ) {
            dayElement.classList.add("rentnow-selected-first-date");
            dayElement.classList.add("rentnow-selected-date");
          }

          else if (index === dateRange.length - 1 && dateRange.length !== 1) {
            dayElement.classList.add("rentnow-selected-last-date");
            dayElement.classList.add("rentnow-selected-date");
          }

          else if (dateRange.length === 1) {
            dayElement.classList.add("rentnow-selected-one-date");
          }

          else {
            dayElement.classList.add("rentnow-selected-date");
          }
        }
      });

      // Free Dates
      const freeDateRange = getFreeDates(startDate, endDate);
      console.log(freeDateRange)

      freeDateRange.forEach((date, index) => {
        let freeElement;

        allParagraphs.forEach((paragraph) => {
          // Exclude dates with "rentnow-prevdays" and "rentnow-nextdays" classes
          if (!paragraph.classList.contains("rentnow-prevdays") && !paragraph.classList.contains("rentnow-nextdays")) {
            if (parseInt(paragraph.textContent.trim()) === date.getDate()) {
              freeElement = paragraph;
            }
          }
        });

        if (freeElement) {

          if (index === 1 || index === 2) {
            freeElement.classList.add("rentnow-free-first-date");
          }

          else if (index === 0 || index === 3) {
            freeElement.classList.add("rentnow-free-last-date");
          }
        }
      });

    }
  }
});

// Function to get dates between start and end date
function getDatesBetween(startDate, endDate) {
  const dates = [];
  let afterDate = new Date(startDate);
  afterDate.setDate(afterDate.getDate() + 1);

  let beforeDate = new Date(endDate);
  beforeDate.setDate(beforeDate.getDate() - 1);

  while (afterDate <= beforeDate) {
    dates.push(new Date(afterDate));
    afterDate.setDate(afterDate.getDate() + 1);
  }
  return dates;
}

function getFreeDates (startDate, endDate) {

  console.log('sighs again');
  
  const dates = [];
  let firstTwoDates = new Date(startDate);
  firstTwoDates.setDate(firstTwoDates.getDate() - 1);
  dates.push(new Date(firstTwoDates));
  firstTwoDates.setDate(firstTwoDates.getDate() - 1);
  dates.push(new Date(firstTwoDates));

  let lastTwoDates = new Date(endDate);
  lastTwoDates.setDate(lastTwoDates.getDate() + 1);
  dates.push(new Date(lastTwoDates));
  lastTwoDates.setDate(lastTwoDates.getDate() + 1);
  dates.push(new Date(lastTwoDates));

  return dates;
}

// Second Calendar

// Second Month Dropdown Menu

const rentNowSecondMonthLabel = document.getElementById('rentNowSecondMonthLabel');
const dropdownSecondMonth = document.getElementById("rentnow-second-month-dropdownmenu");

rentNowSecondMonthLabel.addEventListener("click", function() {
  dropdownSecondMonth.style.display = 'block'; 
  dropdownSecondMonth.size= "7";
  dropdownSecondMonth.click();
  event.stopPropagation();
})

dropdownSecondMonth.addEventListener('change', function() {
  const selectedMonth = dropdownSecondMonth.value;
  rentNowSecondMonthLabel.textContent = selectedMonth;
  dropdownSecondMonth.style.display = 'none';

  const selectedMonthIndex = months.indexOf(selectedMonth);
  secondMonth.setMonth(selectedMonthIndex);
});

// Second Year Dropdown Menu

const dropdownSecondYear = document.getElementById("rentnow-second-year-dropdownmenu");

rentNowSecondYearLabel.addEventListener('click', function(event) {
  dropdownSecondYear.style.display = 'block';
  dropdownSecondYear.size = 7;
  dropdownSecondYear.click();
  event.stopPropagation();
});

// Event listener for dropdown change
dropdownSecondYear.addEventListener('change', function() {
  const selectedYear = dropdownSecondYear.value;
  rentNowSecondYearLabel.textContent = "\u00A0" + selectedYear;
  dropdownSecondYear.style.display = 'none';

  secondMonth.setFullYear(selectedYear);

  updateCalendar();
  
});

// Dates before Month

const secondPrevLastDay = new Date(secondMonth.getFullYear(), secondMonth.getMonth(), 0).getDate(); 
const secondFirstDayIndex = new Date(secondMonth.getFullYear(), secondMonth.getMonth(), 1).getDay();

let secondDays = "";

for (let t = secondFirstDayIndex; t > 0; t--) {
  secondDays += `<p class="rentnow-prevdays">${secondPrevLastDay - t +  1}</p>`; 
}

// Dates correspond to Month and Year
const secondMonthDays = document.querySelector(".rentnow-second-days");

const lastDaySecond = new Date(secondMonth.getFullYear(), secondMonth.getMonth() + 1, 0).getDate();

for (let y = 1; y <= lastDaySecond; y++) {
  secondDays += `<p id="firstMonthDays">${y}</p>`;
}

// Dates after Month
const secondLastDayIndex = new Date(secondMonth.getFullYear(), secondMonth.getMonth() + 1, 0).getDay();
const secondNextDays = 7 - secondLastDayIndex - 1;

for (let p = 1; p <= secondNextDays; p++) {
  secondDays += `<p class="rentnow-nextdays">${p}</p>`;
  secondMonthDays.innerHTML = secondDays;
}

{% endjavascript %}