.footer-section {
    display: flex;
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-header-container1 {
    flex: 3;
    text-align: center;
}

.footer-header-container2 {
    flex: 2.5;
}

.footer-header-container3 {
    flex: 2.5;
}

.footer-header-container4 {
    flex: 2;
}

.footer-tner-logo-image {
    width: 130px;
}

.footer-header-container1 p {
    font-size: 15px;
    width: 200px;
}