h3 {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3px;
}