.collection-title {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3px;

    margin-top: 0;
    max-width: 500px;

    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.5px solid #0D2610;
    padding-bottom: 20px;
}

.add-ons-header2-container1 {
    display: flex;
    position: relative;

    border-radius: 50px;
    border: 1px solid #0D2610;
    align-items: center;
    justify-content: center;

    z-index: 2;
    width: 180px;
}

.add-ons-header2-container1 h1 {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;

    margin-right: 10px;
}

[class^="addOns-header2-container1"] input {
    color: #0d2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    width: 30px;

    border: none;
    background-color: transparent;
}

.add-ons-header2-container1 input[type="number"] {
    -moz-appearance: textfield;
    /* Firefox */
}

.add-ons-header2-container1 [type="number"]::-webkit-inner-spin-button,
.add-ons-header2-container1 input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* WebKit/Blink browsers */
    margin: 0;
    /* Remove the inner margin for WebKit/Blink */
}