.collection-title {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3px;

    margin-top: 0;
    max-width: 500px;

    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.5px solid #0D2610;
    padding-bottom: 20px;
}

.add-ons-header2-container1 {
    display: flex;
}

.add-ons-add-to-cart {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;

    background-color: transparent;
    border: 1px solid #0D2610;
    border-radius: 50px;

    padding: 20px;
}

.add-ons-header2-container1 quantity-input {
    width: calc(12rem / var(--font-body-scale) + var(--inputs-border-width) * 2);
    margin-top: 17px;
    margin-right: 10px;
}