.add-ons-first-section {
    display: block;
    text-align: center;

    margin-top: 50px;
    background-color: ;
}

.add-ons-first-section h1 {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -5.5px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.add-ons-first-section h2 {
    color: #0D2610;
    text-align: center;
    font-family: Syncopate;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 0;
}

.add-ons-header1-container1,
.add-ons-header1-container2 {
    position: relative;
}

.add-ons-left-sparkle-image {
    position: absolute;
    width: 200px;
    transform: translate(50%, -50%);
}

.add-ons-left-sparkle-image {
    position: absolute;
    width: 200px;
}