.rentnow-third-section {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.rentnow-main-container3 {
    text-align: left;
}

.rentnow-header3-container1,
.rentnow-header3-container2,
.rentnow-header3-container3 {
    display: flex;
    justify-content: center;
}

.rentnow-subheader-container6 {
    display: block;
}

.rentnow-subheader-container7,
.rentnow-subheader-container8 {
    display: flex;
}