.homePageTestimony {
    text-align: center;

    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.homePageAllPeople {
    display: flex;
    justify-content: center;
}

.homePageOpenPeople {
    display: flex;
}

.homePageOpenQuote {
    padding-right: 20px;
}

h3 {
    color: #0D2610;
    text-align: center;
    font-family: Syncopate;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.homePagePeople1 {
    text-align: center;
}

.homePagePeople2 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.homePagePeople3 {
    text-align: center;
}

.homePageDescription p {
    margin: 5px 0;
}

.homePageClosePeople {
    display: flex;
}

.homePageCloseQuote {
    padding-left: 20px;

    margin-top: 100%
}

.homePageContainer {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.homePageContainer::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.homePagePanel1 {
    height: 100vh;
}