.homePageStyle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    margin-left: 20%;
    margin-right: 15%;
    padding-top: 4%;

}

.homePageStyle h1 {
    color: #0D2610;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: Syncopate;

    margin-bottom: 0;
    white-space: nowrap;
}

.homePagePara {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 70px;
    font-style: normal;
    font-weight: 100;
    letter-spacing: -6px;

    text-align: left;
    margin-left: 20%;
    margin-bottom: 2%;
    margin-top: 0%;
}

.homePageCircle {
    width: 290px;
    position: absolute;
    margin-left: -20px;

    padding-top: 30px;
}

.homePageLine {
    width: 220px;
    position: absolute;

    margin-left: 600px;
    padding-top: 40px;
}

.homePageStyle2 {
    display: flex;
    position: relative;
}

.homePageArrow {
    position: absolute;
    width: 590px;

    left: 32%;
    top: 5%;
}

.homePageStyle3 {
    display: flex;
    position: relative;
    justify-content: space-between;

    padding-right: 18%;
    padding-left: 20%;

}

.homePageRentNowCircle {
    position: absolute;
    width: 150px;
    transition: transform 0.5s ease;
}

.homePageRentNowCircle:hover {
    transform: rotate(360deg);
}

.homePageLuggages {
    position: absolute;

    left: 50%;
    width: 420px;
}

.homePagePanel1 {
    height: 90vh;
    background-color: #FAF5EE;
}

@media only screen and (max-width: 990px) {

    .homePagePanel1 {
        height: 90vh;
        background-color: #faf5ee;
    }

    .homePageStyle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 15%;
    }

    .homePageStyle h1 {
        margin-top: 15px;
        font-size: 40px;
        position: relative;
    }

    .homePageCircle {
        width: 160px;
        position: absolute;
        padding-bottom: 80px;
    }

    .homePageLine {
        width: 120px;
        position: absolute;
        padding-top: 70px;

        margin-left: 170px;
    }

    .homePagePara {
        text-align: center;
        margin-top: 0%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 6%;

        color: #0D2610;
        text-align: center;
        font-family: JejuMyeongjo;
        font-size: 40px;
        font-style: normal;
        font-weight: 100;
        letter-spacing: -2px;
    }

    .homePageArrow {
        visibility: hidden;
        width: 1px;
    }

    .homePageStyle3 {
        display: flex;
        position: relative;
        flex-direction: column;

        align-items: center;
    }

    .homePageRentNowCircle {
        display: block;
        position: relative;
        width: 100px;
    }

    .homePageLuggages {
        display: block;
        position: relative;
        width: 270px;
        left: 0%;

        padding-left: 2%;
        padding-top: 15px;
    }
}