.add-ons-first-section {
    display: block;
    text-align: center;
}

.add-ons-first-section {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -7.5px;
}

.add-ons-header1-container1 {
    position: relative;
}

.add-ons-left-sparkle-image {
    position: absolute;
}

.add-ons-left-sparkle-image {
    position: absolute;
}