.add-ons-first-section {
    display: block;
    text-align: center;
}

.add-ons-header1-container1 {
    position: relative;
}

.add-ons-left-sparkle-image {
    position: absolute;
}

.add-ons-left-sparkle-image {
    position: absolute;
}