.rentnow-header1-container1 {
    display: block;
}

.rentnow-subheader-container1 {
    display: flex;
    position: relative;
}

.rentnow-lines-image {
    position: absolute;
    width: 300px;
}

.rentnow-arrow-image {
    position: absolute;
    width: 300px;
}