.homePageTestimony {
    text-align: center;

    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0;
    padding-top: 2%;
    padding-bottom: 2%;
}

.homePageAllPeople {
    display: flex;
    justify-content: center;

    padding-bottom: 5%;
}

.homePageOpenPeople {
    display: flex;
}

.homePageOpenQuote {
    padding-right: 20px;
    width: 90px;
    margin-bottom: 100px;
}

h3 {
    color: #0D2610;
    text-align: center;
    font-family: Syncopate;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.homePagePeople1 {
    text-align: center;
}

.homePagePeople2 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.homePagePeople3 {
    text-align: center;
}

.homePageDescription p {
    margin: 5px 0;
}

.homePageClosePeople {
    display: flex;
}

.homePageCloseQuote {
    padding-left: 20px;

    margin-top: 100%
}

.homePageContainer {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.homePageContainer::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.homePagePanel2 {
    height: auto;
    background-color: #FAF5EE;
}

.homePage-luggage3-image,
.homePage-luggage2-image,
.homePage-luggage1-image {
    width: 80px;
}

.homePageDescription {
    width: 30%;
}


@media only screen and (max-width: 990px) {
    .homePageTestimony {
        font-size: 40px;
    }

    h3 {
        font-size: 13px;
    }

    .homePageDescription {
        font-size: 13px;
    }

    .homePageAllPeople {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .homePagePeople1 {
        text-align: center;
    }

    .homePagePeople2 {
        text-align: center;
    }

    .homePagePeople3 {
        text-align: center;
    }

    .homePageOpenQuote {
        position: absolute;
        width: 60px;

        right: 100%;
        top: 45%;
    }

    .homePageCloseQuote {
        position: absolute;
        width: 60px;
        left: 100%;
        top: 40%;
    }

    .homePageClosePeople {
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }

    .homePageOpenPeople {
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }

    .homePagePanel2 {
        height: auto;
        background-color: #FFFCF8;
    }
}