.rentnow-second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rentnow-second-section h1 {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;

    margin-bottom: 15px;
    margin-top: 50px;
}

.rentnow-header2-container1 {
    width: 770px;
    height: 520px;

    border-radius: 10px;
    border: 1px solid #000;
    background: #FAF5EE;
}

.rentnow-calendar-group {
    display: flex;
    padding: 20px;

    justify-content: space-between;
}

.rentnow-first-calendar,
.rentnow-second-calendar {
    width: 355px;
    height: 400px;

    border-radius: 5px;
    border: 1px solid #000;
    background: #FFFCF8;
}

.rentnow-first-months,
.rentnow-second-months {
    display: flex;
    justify-content: center;
    text-align: center;
}

.rentnow-first-months label,
.rentnow-second-months label {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2px;

    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;

    position: relative;
}

.rentnow-first-weekdays,
.rentnow-second-weekdays {
    display: flex;
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;

    justify-content: space-between;
    text-align: center;

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 24px;
    margin-right: 24px;

    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

.rentnow-first-days,
.rentnow-second-days {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: center;

    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    margin-left: 18px;
}

.rentnow-first-days p,
.rentnow-second-days p {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 45px;

    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.rentnow-nextdays,
.rentnow-prevdays {
    color: rgba(13, 38, 16, 0.30);
    font-family: JejuMyeongjo;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
}

.rentnow-calendar-legend {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.rentnow-subheader-container5 {
    display: flex;
    text-align: center;

    margin-bottom: 20px;
}

.rentnow-subheader-container5 h2 {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;

    margin: 0;
}

.rentnow-subheader-container5 svg {
    margin-right: 15px;
}

.rentnow-second-section h3 {
    color: #0d2610;
    font-family: JejuMyeongjo;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: -0.5px;
    margin-top: 0;
    margin-bottom: 5px;
}

.rentnow-start-date,
.rentnow-end-date {
    background-color: #FFA665;
    border-radius: 50%;
}

.rentnow-selected-date,
.rentnow-selected-first-date,
.rentnow-selected-last-date,
.rentnow-selected-one-date {
    background-color: rgba(255, 166, 101, 0.50);
}

.rentnow-selected-first-date {
    border-radius: 50% 0 0 50%;
}

.rentnow-selected-last-date {
    border-radius: 0 50% 50% 0;
}

.rentnow-selected-one-date {
    border-radius: 50%;
}

.rentnow-selected-end-date {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 166, 101, 0.50) 86.79%);
}

.rentnow-selected-start-date {
    background: linear-gradient(270deg, rgba(255, 166, 101, 0.50) 0%, rgba(255, 255, 255, 0.00) 86.79%);
}

.rentnow-free-date,
.rentnow-free-first-date,
.rentnow-free-last-date {
    background-color: rgba(138, 148, 127, 0.50);
}

.rentnow-free-first-date {
    border-radius: 50% 0 0 50%;
}

.rentnow-free-last-date {
    border-radius: 0 50% 50% 0;
}

#rentnow-first-month-dropdownmenu,
#rentnow-first-year-dropdownmenu,
#rentnow-second-month-dropdownmenu,
#rentnow-second-year-dropdownmenu {
    display: none;
    position: absolute;

    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: 1px solid #000;
    background-color: #FFFCF8;
}

#rentnow-first-month-dropdownmenu option,
#rentnow-first-year-dropdownmenu option,
#rentnow-second-month-dropdownmenu option,
#rentnow-second-year-dropdownmenu option {
    margin-top: 5px;
    margin-bottom: 5px;
}

#rentnow-first-month-dropdownmenu,
#rentnow-second-month-dropdownmenu {
    transform: translate(-32px, 30%);
    scrollbar-width: thin;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

#rentnow-first-year-dropdownmenu,
#rentnow-second-year-dropdownmenu {
    transform: translate(50px, 30%);
}

#rentnow-first-month-dropdownmenu::-webkit-scrollbar,
#rentnow-first-year-dropdownmenu::-webkit-scrollbar {
    width: 1px;
}

#rentNowYearError {
    display: none;

    color: #F00;
    justify-content: center;
    font-family: JejuMyeongjo;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    margin-top: 5px;
}

#rentNowMonthError {
    display: none;

    color: #F00;
    justify-content: center;
    font-family: JejuMyeongjo;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    margin-top: 5px;
}

#rentNowDateError {
    display: none;

    color: #F00;
    justify-content: center;
    font-family: JejuMyeongjo;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    margin-top: 5px;
}

@media only screen and (max-width: 990px) {
    .rentnow-second-section h1 {
        font-size: 15px;
        margin-bottom: 5px;
        margin-top: 20px;
    }

    .rentnow-second-section h3 {
        font-size: 9px;
        margin-bottom: 15px;
    }

    .rentnow-header2-container1 {
        width: 257px;
        height: 173px;
    }

    .rentnow-calendar-group {
        padding: 7px;
    }

    .rentnow-first-calendar,
    .rentnow-second-calendar {
        width: 118px;
        height: 133px;
    }

    .rentnow-first-months label,
    .rentnow-second-months label {
        font-size: 10px;
        letter-spacing: -0.5px;
        margin: 5px 0;
    }

    .rentnow-first-weekdays,
    .rentnow-second-weekdays {
        font-size: 8px;
        letter-spacing: -0.5px;
        padding-left: 3px;
        padding-right: 3px;
        margin-left: 8px;
        margin-right: 8px;
        border-top: solid 0.3px #000;
        border-bottom: solid 0.3px #000;
    }

    .rentnow-first-weekdays p,
    .rentnow-second-weekdays p {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .rentnow-first-days,
    .rentnow-second-days {
        font-size: 5px;
        letter-spacing: -0.5px;
        margin-left: 6px;
    }

    .rentnow-first-days p,
    .rentnow-second-days p {
        width: 15px;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .rentnow-nextdays,
    .rentnow-prevdays {
        font-size: 5px;
        letter-spacing: -0.5px;
    }

    .rentnow-subheader-container5 h2 {
        letter-spacing: -0.5px;
        font-size: 7px;
    }

    .rentnow-subheader-container5 svg {
        width: 7px;
        height: 7px;
    }

    .rentnow-subheader-container5 {
        margin-bottom: 6px;
    }

    .rentnow-calendar-legend {
        padding-left: 10px;
    }

}