.howitworks-header3-container1 {
    display: block;
    text-align: center;

    margin-right: 30%;
    margin-top: 5%;
}

.howitworks-subheader-container5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.howitworks-subheader-container6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.howitworks-image5 {
    position: absolute;
    width: 220px;

    margin-top: 180px;
    margin-left: 480px;
}

.howitworks-subheader-container5 h5 {
    position: relative;
}

.howitworks-subheader-container6 h4 {
    margin-right: 40px;
}

.howitworks-header3-container2 {
    display: flex;
    flex-direction: column;
}

.howitworks-image6 {
    width: 600px;
}

.howitworks-image7 {
    width: 200px;
}

.howitworks-header3-container3 {
    display: block;
    text-align: center;
}

.howitworks-image8 {
    width: 200px;
}

.howitworks-image9 {
    width: 200px;
    position: absolute;
    margin-right: 100px;
}

.howitworks-header3-container3 h6 {
    position: relative;
    color: #0D2610;
    font-family: Syncopate;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}