.howitworks-header3-container1 {
    display: block;
    position: relative;
}

.howitworks-header3-container1 h5 {
    margin-left: 50%;
}

.howitworks-subheader-container5 {
    display: flex;
}

.howitworks-image5 {
    width: 300px;
    position: absolute;
}

.howitworks-image6 {
    width: 300px;
    position: absolute;
}