.howitworks-first-section {
    background-color: #FAF5EE;
    display: block;
    text-align: center;

    padding-top: 5%;
    padding-bottom: 5%;
}

.howitworks-header1-container1 {
    position: relative;
}

.howitworks-luggages-image {
    width: 600px;

    padding-left: 50px;
}

.howitworks-header1-container1 h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 7px;

    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -5px;

}

.howitworks-header1-container1 h2 {
    color: #0D2610;
    text-align: center;
    font-family: Syncopate;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 0px;
    margin-top: 15px;
}

.howitworks-header1-container1 h3 {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2px;

    margin-top: 15px;
    margin-bottom: 70px;
}

.howitworks-cycle-image {
    position: absolute;
    width: 700px;
    transform: translate(-50%, 10%);
}

.howitworks-subheader-container5 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 160px;
}

.howitworks-subheader-container1 {
    position: relative;
    display: flex;
    justify-content: center;
}

.howitworks-tick-image {
    position: absolute;
    width: 160px;

    transform: translateY(-20%);
}

.howitworks-header1container2 h4 {
    position: relative;

    color: #0D2610;
    text-align: center;
    font-family: Syncopate;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 40px;
    margin-top: 1px;
    z-index: 2;
}

.howitworks-cycle-subheader7 {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;

    margin-right: 880px;
    margin-top: 10%;
}

.howitworks-arrow-image {
    position: absolute;
    width: 400px;
    transform: translate(-60%, -10%);
    z-index: -1;
}

.howitworks-subheader-container2 {
    position: relative;
}

.howitworks-subheader-container3 {
    position: relative;
    margin-left: 300px;
}

.howitworks-circle-image {
    position: absolute;
    width: 400px;
    transform: translate(-45%, -20%);
}

.howitworks-subheader-container2 p {
    margin-right: 0;
    margin-top: 0;
}

.howitworks-subheader-container2 h4 {
    margin-bottom: 5px;
    margin-top: 1px;
}

.howitworks-first-section h5 {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.5px;

    margin-bottom: 0;
    margin-top: 50px;
}

.howitworks-subheader-container6 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
}

.howitworks-subheader-container6 p {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;

    margin-right: 0;
    margin-top: 0;
}

.howitworks-subheader-container1 h4 {
    margin-left: 200px;
}

.howitworks-subheader-container7 {
    display: flex;
}

.howitwork-3rd-text {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;

    margin-left: 900px;
    margin-top: 0;
}

.howitworks-subheader-container3 p {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;

    margin-right: 0;
    margin-top: 0;
}

.howitworks-point5 {
    color: #0d2610;
    font-family: JejuMyeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;

    margin-top: 80px;
}

.howitworks-address {
    color: #0d2610;
    font-family: JejuMyeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;
}

@media only screen and (max-width: 990px) {

    .howitworks-first-section {
        padding-top: 10%;
    }

    .howitworks-luggages-image {
        width: 250px;
        padding-left: 10px;
    }

    .howitworks-header1-container1 h2 {
        font-size: 25px;
        margin-top: 0;
    }

    .howitworks-header1-container1 h1 {
        font-size: 25px;
        top: 35%;
        transform: translate(-65%);
    }

    .howitworks-header1-container1 h3 {
        font-size: 10px;
        letter-spacing: -1px;
        margin-top: 5px;
        margin-bottom: 30px;
    }

    .howitworks-cycle-image {
        width: 200px;
    }

    .howitworks-subheader-container1 h4 {
        margin-left: 90px !important;
        white-space: nowrap;
    }

    .howitworks-header1container2 h4 {
        font-size: 15px;
        margin-top: 15px;
        margin: 0;
    }

    .howitworks-subheader-container6 p {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .howitworks-subheader-container6 {
        margin-left: 10px;
        letter-spacing: -0.5px;
    }

    .howitworks-tick-image {
        width: 50px;
    }

    .howitworks-subheader-container1 p {
        font-size: 8px;
        margin-left: 0;
        letter-spacing: -0.5px;
    }

    .howitworks-cycle-subheader7 {
        font-size: 8px;
        margin-right: 250px;
        margin-bottom: 0;
        margin-top: 3%;
        letter-spacing: -0.5px;
    }

    .howitwork-3rd-text {
        font-size: 8px;
        margin-left: 250px;
        letter-spacing: -0.5px;
    }

    .howitworks-subheader-container5 {
        margin-top: 55px;
        white-space: nowrap;
    }

    .howitworks-subheader-container3 {
        margin-left: 90px;
    }

    .howitworks-circle-image {
        width: 110px;
        transform: translate(-45%, -20%);
    }

    .howitworks-subheader-container3 p {
        font-size: 8px;
        margin-top: 7px;
        letter-spacing: -0.5px;
    }

    .howitworks-cycle-subheader6 {
        color: #0d2610;
        font-family: JejuMyeongjo;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.5px;
    }

    .howitworks-point5 {
        font-size: 8px;
        margin-top: 20px;
        letter-spacing: -0.5px;
    }

    .howitworks-first-section h5 {
        font-size: 15px;
        margin-top: 25px;
        letter-spacing: -1.5px;
    }

    .howitworks-address {
        font-size: 8px;
        letter-spacing: -0.5px;
    }

}