.howitworks-second-section {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #FAF5EE;
}

.howitworks-header2-container1 {
    display: flex;
    align-items: center;

    margin-left: 10%;
}

.howitworks-header2-container2 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 10%;
    margin-right: 10%;
}

.howitwork-subheader-container6,
.howitwork-subheader-container7,
.howitwork-subheader-container8 {
    margin-right: 70px;
    margin-left: 70px;
    /* Set a fixed margin between containers */
    text-align: center;
}

.howitworks-header2-container1 h1 {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -5px;
}

.howitworks-header2-container1 h2 {
    color: #0D2610;
    text-align: center;
    font-family: Syncopate;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding-left: 20px;
}

.howitworks-hygiene-image {
    width: 280px;
    margin-top: 40px;
}

.howitworks-reimburse-image {
    width: 230px;
    margin-top: 40px;
}

.howitworks-maintanence-image {
    width: 250px;
}

.howitwork-subheader-container6 h3,
.howitwork-subheader-container7 h3,
.howitwork-subheader-container8 h3 {
    color: #0D2610;
    text-align: center;
    font-family: Syncopate;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    white-space: nowrap;
}

.howitwork-subheader-container8 h3 {
    margin-top: 30px;
}

.howitwork-subheader-container7 h3,
.howitwork-subheader-container6 h3 {
    margin-top: 40px;
}

.howitwork-subheader-container6 p,
.howitwork-subheader-container7 p,
.howitwork-subheader-container8 p {
    color: #8A947F;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2px;

    width: 250px;
    margin: 0 auto;
    /* Center the paragraph horizontally */
}

@media only screen and (max-width: 990px) {

    .howitworks-header2-container1 h1 {
        font-size: 30px;
        letter-spacing: -2px;
        margin-bottom: 10px;
    }

    .howitworks-header2-container1 {
        margin-left: 5%;
    }

    .howitworks-header2-container1 h2 {
        font-size: 30px;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .howitworks-reimburse-image {
        width: 65px;
        margin-top: 6px;
    }

    .howitworks-maintanence-image {
        width: 75px;
    }

    .howitwork-subheader-container6,
    .howitwork-subheader-container7,
    .howitwork-subheader-container8 {
        margin-right: 10px;
        margin-left: 10px;
        width: 25%;
    }

    .howitwork-subheader-container6 h3,
    .howitwork-subheader-container7 h3,
    .howitwork-subheader-container8 h3 {
        font-size: 8px;
        margin-top: 5px;
    }

    .howitwork-subheader-container7 h3 {
        margin-top: 10px;
    }

    .howitwork-subheader-container6 h3 {
        margin-top: 5px;
    }

    .howitwork-subheader-container6 p,
    .howitwork-subheader-container7 p,
    .howitwork-subheader-container8 p {
        font-size: 8px;
        width: 80px;
        letter-spacing: 0;
    }

    .howitworks-hygiene-image {
        width: 90px;
        margin-top: 5px;
    }

    .howitworks-header2-container2 {
        margin-left: 5%;
        margin-right: 5%;
    }
}