.rentnow-header1-container1 {
    display: block;
    text-align: center;
}

.rentnow-header1-container1 h1 {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -7.5px;

}

.rentnow-subheader-container1 {
    display: flex;
    position: relative;
}

.rentnow-subheader-container2 {
    display: flex;
}

.rentnow-lines-image {
    position: absolute;
    width: 300px;
}

.rentnow-arrow-image {
    position: absolute;
    width: 300px;
}