.howitworks-second-section {
    display: block;
    align-items: center;
}

.howitworks-header2-container {
    display: block;
    align-items: center;
}

.howitworks-subheader-container3 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.howitworks-subheader-container3 h5 {
    padding: 0 0 0 2%;
}

.howitworks-subheader-container4 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.howitworks-second-section-description {
    display: flex;
}