.howitworks-second-section {
    display: block;
}

.howitworks-header2-container {
    display: block;
}

.howitworks-subheader-container3 {
    display: flex;
}

.howitworks-subheader-container4 {
    display: flex;
}

.howitworks-second-section-description {
    display: flex;
}