.howitworks-first-section {
    display: block;
    text-align: center;
}

.howitworks-header1-container1 {
    position: relative;
}

.howitworks-luggages-image {
    width: 600px;
}

.howitworks-header1-container1 h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.howitworks-header1-container2 {
    position: relative;
}

.howitworks-cycle-image {
    position: absolute;
    width: 700px;

    transform: translateX(-50%);
}

.howitworks-subheader-container1 {
    position: relative;
}

.howitworks-tick-image {
    position: absolute;
    width: 100px;

    transform: translateX(-50%);
}

.howitworks-header1-container2 p {
    margin-right: 60%;
    margin-top: 10%;
}

.howitworks-subheader-container2 {
    position: relative;
}

.howitworks-circle-image {
    position: absolute;
    width: 200px;
}