.rentnow-second-section {
    display: block;
    text-align: center;
}

.rentnow-second-section h1 {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3px;
}

.rentnow-header2-container1 {
    width: 50%;
    height: 50%;

    border-radius: 10px;
    border: 1px solid #000;
    background: #FAF5EE;

}