.howitworks-first-section {
    display: block;
    text-align: center;
}

.howitworks-header1-container1 {
    position: relative;
}

.howitworks-luggages-image {
    position: absolute;
    width: 420px;
}