.rentnow-header1-container1 {
    display: block;
    padding: 5% 15% 5% 18%;

    background-color: #FAF5EE;
}

.rentnow-header1-container1 h1 {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3.5px;

    text-align: left;
    margin: 0;
}

.rentnow-header1-container1 h2 {
    color: #0D2610;
    font-family: Syncopate;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 0;
    margin-top: 20px;
}

.rentnow-header1-container1 h3 {
    color: #0D2610;
    font-family: Syncopate;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-right: 15px;
}

.rentnow-header1-container1 h4 {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2.5px;

    margin-left: 10px;
}

.rentnow-subheader-container1 {
    display: flex;
    position: relative;
}

.rentnow-subheader-container2 {
    display: flex;
    align-items: center;
}

.rentnow-subheader-container2 h1 {
    margin-left: 180px;
}

.rentnow-subheader-container2 a {
    text-decoration: none;
}

.rentnow-lines-image {
    position: absolute;
    width: 300px;

    top: 100%;
    transform: translateY(-10px);
}

.rentnow-arrow-image {
    position: absolute;
    width: 500px;
    top: 100%;
    transform: translate(70%, -95%);
    z-index: -1;
}

.rentnow-question-mark-image {
    width: 40px;
}

.rentnow-header1-container2 {
    display: flex;
    width: 100%;
    height: 160px;
    background: linear-gradient(to top,
            #FFFCF8 0%,
            #FFFCF8 50%,
            #FAF5EE 50%,
            #FAF5EE 100%);

    position: relative;
    align-items: center;
}

.rentnow-subheader-container3 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;

}

.rentnow-subheader-container4 {
    display: flex;
    justify-content: space-between;
    width: 100%;

    display: flex;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3px;

    margin-left: 12%;
    margin-right: 12%;
    z-index: 2;
}

@media only screen and (max-width: 990px) {

    .rentnow-header1-container1 {
        padding: 5% 15% 5% 5%;
    }

    .rentnow-header1-container1 h1,
    .rentnow-header1-container1 h2 {
        font-size: 30px;
        white-space: nowrap;
        margin-top: 5px;
    }

    .rentnow-subheader-container2 h1 {
        margin-left: 10px;
    }

    .rentnow-lines-image {
        width: 110px;
    }

    .rentnow-header1-container1 h3 {
        font-size: 7px;
        white-space: nowrap;
        margin-right: 5px;
    }

    .rentnow-header1-container1 h4 {
        font-size: 12px;
        white-space: nowrap;
        margin-left: 5px;
        letter-spacing: -1px;
    }

    .rentnow-question-mark-image {
        width: 15px;
    }

    .rentnow-arrow-image {
        width: 200px;
        transform: translate(60%, -95%);
        z-index: 2;
    }


}