.homePageTestimony {
    text-align: center;

    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0;
    padding-top: 2%;
    padding-bottom: 3%;
}

.homePageAllPeople {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-right: 2%;
    margin-left: 2%;
}

h3 {
    color: #0D2610;
    text-align: center;
    font-family: Syncopate;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.homePagePeople1,
.homePagePeople2,
.homePagePeople3 {
    display: block;
    text-align: center;

    width: 50%;
}

.homePageDescription p {
    margin: 5px 0;
    padding-left: 40px;
    padding-right: 40px;

    color: #000;
    font-family: JejuMyeongjo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.homePageClosePeople {
    display: flex;
}

.homePageContainer {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.homePageContainer::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.homePagePanel2 {
    height: auto;
    background-color: #FAF5EE;

    padding-bottom: 7%;
}

.homePage-luggage3-image {
    width: 80px;
}

.homePage-luggage2-image {
    width: 95px;
}

.homePage-luggage1-image {
    width: 97px;
}

.homePageCloseQuote {
    margin-top: 350px;
}

@media only screen and (max-width: 990px) {
    .homePageAllPeople {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .homePagePeople1,
    .homePagePeople2,
    .homePagePeople3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .homePageCloseQuote {
        margin-top: 0;
    }

    .homePageOpenQuote {
        display: flex;
        align-self: flex-start;
        margin-left: 30px;
        width: 35px;
    }

    .homePageCloseQuote {
        display: flex;
        align-self: flex-end;
        margin-right: 20px;
        width: 40px;
    }

    .homePageTestimony {
        padding-bottom: 5%;
        font-size: 30px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .homePage-luggage1-image {
        width: 67px;
    }

    h3 {
        font-size: 15px;
    }

    .homePageDescription p {
        font-size: 15px;
        padding-left: 0;
        padding-right: 0;
    }

    .homePage-luggage2-image {
        width: 65px;
    }

    .homePage-luggage3-image {
        width: 50px;
    }
}