.howitworks-first-section {
    display: block;
}

.howitworks-header1-container {
    display: block;
}

.howitworks-subheader-container1 h4 h {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -5px;
}

.howitworks-subheader-container2 {
    display: flex;
}

.howitworks-subheader-container2 h5 {
    color: #0D2610;
    font-family: Syncopate;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}