.howitworks-header3-container1 {
    display: flex;
    position: relative;

    align-items: center;
    margin-left: 10%;
}

.howitworks-header3-container1 h1 {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -5px;
}

.howitworks-header3-container1 h2 {
    color: #0D2610;
    text-align: center;
    font-family: Syncopate;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 0;
    padding-bottom: 40px;
}

.howitworks-swigglylines-image {
    position: absolute;
    width: 570px;
    transform: translate(58%, 130%);
}

.howitworks-header3-container2 {
    display: flex;

    margin-top: 5%;
}

.howitworks-subheader3-container10 {
    display: flex;
    width: 25%;

    justify-content: flex-end;
    align-items: flex-start;
}

.howitworks-subheader3-container11 {
    width: 75%;

    margin-left: 100px;
}

.howitworks-one-image {
    display: flex;
    width: 70px;
}

.howitworks-calendar-image {
    display: flex;
    width: 550px;
}

.howitworks-third-section p {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;
}

.howitworks-header3-container3 {
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: left;

    margin-top: 2%;
}