.howitworks-header3-container1 {
    display: flex;
    position: relative;

    align-items: center;
    margin-left: 10%;
}

.howitworks-header3-container1 h1 {
    color: #0D2610;
    text-align: center;
    font-family: JejuMyeongjo;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -5px;
}

.howitworks-header3-container1 h2 {
    color: #0D2610;
    text-align: center;
    font-family: Syncopate;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 0;
    padding-bottom: 40px;
}

.howitworks-swigglylines-image {
    position: absolute;
    width: 570px;
    transform: translate(58%, 130%);
}

.howitworks-header3-container2,
.howitworks-header3-container4,
.howitworks-header3-container6 {
    display: flex;
    margin-top: 2%;
}

.howitworks-subheader3-container10,
.howitworks-subheader3-container12,
.howitworks-subheader3-container15 {
    display: flex;
    width: 20%;

    justify-content: flex-end;
    align-items: flex-start;
}

.howitworks-subheader3-container11,
.howitworks-subheader3-container16 {
    width: 80%;
    margin-left: 200px;
}

.howitworks-subheader3-container12 {
    padding-right: 37px;
}

.howitworks-subheader3-container13 {
    width: 80%;
}

.howitworks-one-image,
.howitworks-two-image,
.howitworks-three-image {
    display: flex;
    width: 70px;
}

.howitworks-two-image {
    margin-top: 10%;
}

.howitworks-calendar-image {
    display: flex;
    width: 520px;
}

.howitworks-order-receipt-image {
    width: 520px;
}

.howitworks-third-section p {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.5px;
}

.howitworks-header3-container3 {
    display: block;
    width: 50%;
    margin: 0 auto;
    text-align: left;

    margin-top: 2%;
}

.howitworks-subheader3-container14 {
    width: 64%;
    margin-left: 6%;
}

.howitworks-product-items {
    border-radius: 5px;
    border: 2px solid #000;
    width: 221px;
    height: 211px;
}

.howitworks-header3-container5 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

.howitworks-header3-container5 svg {
    margin-left: 5%;
    margin-right: 5%;
}