.rentnow-second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rentnow-second-section h1 {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -3px;
}

.rentnow-header2-container1 {
    width: 730px;
    height: 440px;

    border-radius: 10px;
    border: 1px solid #000;
    background: #FAF5EE;
}

.rentnow-calendar-group {
    display: flex;
    padding: 20px;

    justify-content: space-between;
}

.rentnow-first-calendar,
.rentnow-second-calendar {
    width: 335px;
    height: 320px;

    border-radius: 5px;
    border: 1px solid #000;
    background: #FFFCF8;
}