.howitworks-header2-container1 {
    display: flex;
}

.howitworks-header2-container2 {
    display: flex;
}

.howitwork-subheader-container6 {
    display: block;
    text-align: center;
}