.howitworks-first-section {
    display: block;
    margin-top: 5%;

    text-align: center;
}

.howitworks-header1-container {
    display: block;
}

.howitworks-subheader-container1 h4,
.howitworks-subheader-container2 h4 {
    color: #0D2610;
    font-family: JejuMyeongjo;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2px;

    margin: 0;
}

.howitworks-subheader-container1 {
    text-align: center;
    margin-right: 30%;
}

.howitworks-subheader-container2 {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 10%;
}

.howitworks-subheader-container2 h5 {
    color: #0D2610;
    font-family: Syncopate;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    position: relative;
    margin: 0;
    padding: 0 2% 0 2%;
}

.howitworks-image1 {
    width: 340px;
    position: absolute;

    margin-right: 10%;
}